################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CountWithoutFive/v15/.suo
/Fives/bin/Debug/netcoreapp1.1
/Fives/obj
/FivesTests/bin/Debug/netcoreapp1.1
/FivesTests/obj
